In [31]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
import matplotlib.pyplot as plt 
import seaborn as sns
import time
import os
import xlwings as xw

In [37]:
import pandas as pd
import numpy as np
import random
import string

# Generate unique style codes
def generate_style_code():
    prefix = ''.join(random.choices(string.ascii_uppercase, k=9))
    suffix = ''.join(random.choices(string.digits, k=5))
    return prefix + suffix

unique_style_codes = set()
while len(unique_style_codes) < 4560:
    unique_style_codes.add(generate_style_code())

# Repeat the unique style codes to cover all articles
all_style_codes = np.tile(list(unique_style_codes), 10330 // 4560 + 1)[:10330]

# Shuffle the style codes to ensure randomness
np.random.shuffle(all_style_codes)

# Create a DataFrame
df = pd.DataFrame({
    'Article': ['A' + str(i) for i in range(1, 10331)],
    'Style_Code': all_style_codes
})

import pandas as pd
import numpy as np
import random
import string

# Sample data generation (from the previous example)
def generate_style_code():
    prefix = ''.join(random.choices(string.ascii_uppercase, k=9))
    suffix = ''.join(random.choices(string.digits, k=5))
    return prefix + suffix

unique_style_codes = set()
while len(unique_style_codes) < 4560:
    unique_style_codes.add(generate_style_code())

all_style_codes = np.tile(list(unique_style_codes), 10330 // 4560 + 1)[:10330]
np.random.shuffle(all_style_codes)

df = pd.DataFrame({
    'Article': ['A' + str(i) for i in range(1, 10331)],
    'Style_Code': all_style_codes
})

# Create Article1 column
# Create a prefix for each unique Style_Code
unique_prefixes = ["22" + str(i).zfill(7) for i in range(1, len(unique_style_codes) + 1)]
style_to_prefix = dict(zip(unique_style_codes, unique_prefixes))

# Function to generate Article1 based on Style_Code occurrence
style_code_counter = {}
def generate_article_code(style_code):
    if style_code not in style_code_counter:
        style_code_counter[style_code] = 1
    else:
        style_code_counter[style_code] += 1
    return style_to_prefix[style_code] + str(style_code_counter[style_code]).zfill(3)

df['Article1'] = df['Style_Code'].apply(generate_article_code)

# Create unique crafts
crafts = ['Craft_' + str(i) for i in range(1, 120)]

# Map each unique style code to a craft
style_to_craft = {style: random.choice(crafts) for style in unique_style_codes}

# Add the mapped crafts to the DataFrame
df['Craft'] = df['Style_Code'].map(style_to_craft)

# Generate MRPs from a normal distribution
mean_mrp = (29999 + 599) / 2
std_dev_mrp = (29999 - 599) / 6  # Assuming 99.7% of data within 599 and 29999

mrps = np.random.normal(mean_mrp, std_dev_mrp, len(unique_style_codes))
mrps = np.clip(mrps, 599, 29999)  # Ensure MRPs are within the desired range
mrps = np.round(mrps).astype(int)

# Map each unique style code to an MRP
style_to_mrp = dict(zip(unique_style_codes, mrps))

# Add the mapped MRPs to the DataFrame
df['MRP1'] = df['Style_Code'].map(style_to_mrp)

# Define bin edges and labels
bin_edges = list(range(0, 31000, 1000))
bin_labels = [f"{bin_edges[i]}-{bin_edges[i+1]}" for i in range(len(bin_edges)-1)]

# Create MRP bins
df['MRP_Bin'] = pd.cut(df['MRP1'], bins=bin_edges, labels=bin_labels, right=False)

# Define the bins and labels for the price column
bins = [0, 5000, 15000, np.inf]
labels = [1, 2, 3]

df['price'] = pd.cut(df['MRP1'], bins=bins, labels=labels, right=False)

import pandas as pd
import numpy as np

# Assuming df is already defined from the previous steps

# Generate quantities from a normal distribution
quantities = np.random.normal(6.65, 10, len(df))
quantities = np.clip(quantities, 1, 251)
quantities = np.round(quantities).astype(int)

# Adjust values to try and match the provided quartiles
sorted_quantities = np.sort(quantities)
q1_index = int(0.25 * len(df))
q2_index = int(0.5 * len(df))
q3_index = int(0.75 * len(df))

sorted_quantities[q1_index:q2_index] = 2
sorted_quantities[q2_index:q3_index] = 4
sorted_quantities[q3_index:] = 6

# Shuffle the adjusted quantities to randomize the order
np.random.shuffle(sorted_quantities)

df['quantity'] = sorted_quantities


# Define the brands and their respective percentages
brands = ['Brand_A', 'Brand_B', 'Brand_C', 'Brand_D']
percentages = [0.0677, 0.0092, 0.9043, 0.0189]

# Calculate the number of style codes for each brand
brand_counts = [int(p * len(unique_style_codes)) for p in percentages]

# Ensure the total counts match the number of unique style codes
brand_counts[-1] += len(unique_style_codes) - sum(brand_counts)

# Assign each unique style code to a brand
assigned_brands = np.repeat(brands, brand_counts)
np.random.shuffle(assigned_brands)

style_to_brand = dict(zip(unique_style_codes, assigned_brands))

# Map the brand assignment to the main DataFrame
df['Brand'] = df['Style_Code'].map(style_to_brand)

# Generate vendor percentages
num_vendors = 57
avg_percentage = 0.0175
total_percentage = 1.0
vendor_percentages = []

for _ in range(num_vendors - 1):
    max_percentage = (total_percentage - sum(vendor_percentages) - (num_vendors - len(vendor_percentages) - 1) * 0.0001)
    max_percentage = min(max_percentage, 0.1197)
    min_percentage = 0.0001
    percentage = np.random.uniform(min_percentage, max_percentage)
    vendor_percentages.append(percentage)

# Ensure the total percentages sum up to 100%
vendor_percentages.append(total_percentage - sum(vendor_percentages))

# Calculate the number of style codes for each vendor
vendor_counts = [int(p * len(unique_style_codes)) for p in vendor_percentages]

# Ensure the total counts match the number of unique style codes
vendor_counts[-1] += len(unique_style_codes) - sum(vendor_counts)

# Assign each unique style code to a vendor
vendors = ['Vendor_' + str(i) for i in range(1, num_vendors + 1)]
assigned_vendors = np.repeat(vendors, vendor_counts)
np.random.shuffle(assigned_vendors)

style_to_vendor = dict(zip(unique_style_codes, assigned_vendors))

# Map the vendor assignment to the main DataFrame
df['Vendor'] = df['Style_Code'].map(style_to_vendor)



print(df.head())  # Display the first few rows
print("============")

# Filter rows with duplicated Style_Code
duplicated_rows = df[df['Style_Code'].duplicated(keep=False)].sort_values('Style_Code')

print(duplicated_rows)

  Article      Style_Code      Article1     Craft   MRP1      MRP_Bin price  \
0      A1  HPRNBILAU16506  220003842001  Craft_14  17804  17000-18000     3
1      A2  RZPFBQLCP93570  220004300001  Craft_41  24303  24000-25000     3
2      A3  SKNHQBQZK69482  220003387001  Craft_99  19371  19000-20000     3
3      A4  KKMIRFLWY06630  220002864001  Craft_69   8421    8000-9000     2
4      A5  FVDSIKTCA44316  220002714001  Craft_47  21768  21000-22000     3

   quantity    Brand     Vendor
0         2  Brand_C   Vendor_7
1         1  Brand_C   Vendor_8
2         6  Brand_C  Vendor_15
3         2  Brand_C   Vendor_5
4         1  Brand_C   Vendor_8
============
     Article      Style_Code      Article1     Craft   MRP1      MRP_Bin  \
2421   A2422  AAAEGQGLC46320  220000541002  Craft_82  14664  14000-15000
1477   A1478  AAAEGQGLC46320  220000541001  Craft_82  14664  14000-15000
3217   A3218  AAAEGQGLC46320  220000541003  Craft_82  14664  14000-15000
4922   A4923  AAAURCBMX25969  220004071001  Craft_83  15543  15000-16000
5552   A5553  AAAURCBMX25969  220004071002  Craft_83  15543  15000-16000
...      ...             ...           ...       ...    ...          ...
1060   A1061  ZZVRWAIWN23772  220001936002  Craft_69  15833  15000-16000
4398   A4399  ZZWGWQHKX67298  220002234002  Craft_54  14402  14000-15000
830     A831  ZZWGWQHKX67298  220002234001  Craft_54  14402  14000-15000
1693   A1694  ZZXPZGVZE25742  220001223001  Craft_96  14443  14000-15000
1972   A1973  ZZXPZGVZE25742  220001223002  Craft_96  14443  14000-15000

     price  quantity    Brand     Vendor
2421     2         4  Brand_C  Vendor_15
1477     2         2  Brand_C  Vendor_15
3217     2         1  Brand_C  Vendor_15
4922     3         4  Brand_C  Vendor_12
5552     3         6  Brand_C  Vendor_12
...    ...       ...      ...        ...
1060     3         1  Brand_C  Vendor_13
4398     2         4  Brand_C   Vendor_8
830      2         6  Brand_C   Vendor_8
1693     2         2  Brand_C  Vendor_13
1972     2         2  Brand_C  Vendor_13

[10330 rows x 10 columns]

In [38]:
df

,Article,Style_Code,Article1,Craft,MRP1,MRP_Bin,price,quantity,Brand,Vendor
0,A1,HPRNBILAU16506,220003842001,Craft_14,17804,17000-18000,3,2,Brand_C,Vendor_7
1,A2,RZPFBQLCP93570,220004300001,Craft_41,24303,24000-25000,3,1,Brand_C,Vendor_8
2,A3,SKNHQBQZK69482,220003387001,Craft_99,19371,19000-20000,3,6,Brand_C,Vendor_15
3,A4,KKMIRFLWY06630,220002864001,Craft_69,8421,8000-9000,2,2,Brand_C,Vendor_5
4,A5,FVDSIKTCA44316,220002714001,Craft_47,21768,21000-22000,3,1,Brand_C,Vendor_8
...,...,...,...,...,...,...,...,...,...,...
10325,A10326,QICUUMPJW99906,220002051002,Craft_106,10504,10000-11000,2,6,Brand_C,Vendor_1
10326,A10327,LGNSBQJER19565,220002275002,Craft_96,14961,14000-15000,2,1,Brand_C,Vendor_11
10327,A10328,WYSRQJLRH15948,220001939002,Craft_98,16792,16000-17000,3,6,Brand_C,Vendor_1
10328,A10329,NOEEAEBOP37708,220004524002,Craft_26,24605,24000-25000,3,4,Brand_C,Vendor_4
10329,A10330,ZMBWLQMOD72104,220003936002,Craft_106,18287,18000-19000,3,2,Brand_C,Vendor_13

In [44]:
df.drop(['Article'],axis=1,inplace=True)
df

,Style_Code,Article1,Craft,MRP1,MRP_Bin,price,quantity,Brand,Vendor
0,HPRNBILAU16506,220003842001,Craft_14,17804,17000-18000,3,2,Brand_C,Vendor_7
1,RZPFBQLCP93570,220004300001,Craft_41,24303,24000-25000,3,1,Brand_C,Vendor_8
2,SKNHQBQZK69482,220003387001,Craft_99,19371,19000-20000,3,6,Brand_C,Vendor_15
3,KKMIRFLWY06630,220002864001,Craft_69,8421,8000-9000,2,2,Brand_C,Vendor_5
4,FVDSIKTCA44316,220002714001,Craft_47,21768,21000-22000,3,1,Brand_C,Vendor_8
...,...,...,...,...,...,...,...,...,...
10325,QICUUMPJW99906,220002051002,Craft_106,10504,10000-11000,2,6,Brand_C,Vendor_1
10326,LGNSBQJER19565,220002275002,Craft_96,14961,14000-15000,2,1,Brand_C,Vendor_11
10327,WYSRQJLRH15948,220001939002,Craft_98,16792,16000-17000,3,6,Brand_C,Vendor_1
10328,NOEEAEBOP37708,220004524002,Craft_26,24605,24000-25000,3,4,Brand_C,Vendor_4
10329,ZMBWLQMOD72104,220003936002,Craft_106,18287,18000-19000,3,2,Brand_C,Vendor_13

In [45]:
df.columns=['Style Code','article','craft','MRP','MRP Bucket','price','quantity','Brand Type','VENDOR']
df

,Style Code,article,craft,MRP,MRP Bucket,price,quantity,Brand Type,VENDOR
0,HPRNBILAU16506,220003842001,Craft_14,17804,17000-18000,3,2,Brand_C,Vendor_7
1,RZPFBQLCP93570,220004300001,Craft_41,24303,24000-25000,3,1,Brand_C,Vendor_8
2,SKNHQBQZK69482,220003387001,Craft_99,19371,19000-20000,3,6,Brand_C,Vendor_15
3,KKMIRFLWY06630,220002864001,Craft_69,8421,8000-9000,2,2,Brand_C,Vendor_5
4,FVDSIKTCA44316,220002714001,Craft_47,21768,21000-22000,3,1,Brand_C,Vendor_8
...,...,...,...,...,...,...,...,...,...
10325,QICUUMPJW99906,220002051002,Craft_106,10504,10000-11000,2,6,Brand_C,Vendor_1
10326,LGNSBQJER19565,220002275002,Craft_96,14961,14000-15000,2,1,Brand_C,Vendor_11
10327,WYSRQJLRH15948,220001939002,Craft_98,16792,16000-17000,3,6,Brand_C,Vendor_1
10328,NOEEAEBOP37708,220004524002,Craft_26,24605,24000-25000,3,4,Brand_C,Vendor_4
10329,ZMBWLQMOD72104,220003936002,Craft_106,18287,18000-19000,3,2,Brand_C,Vendor_13

In [52]:
df=df[['article','craft','price','quantity','Style Code','Brand Type','VENDOR','MRP','MRP Bucket']]

In [53]:
df

,article,craft,price,quantity,Style Code,Brand Type,VENDOR,MRP,MRP Bucket
0,220003842001,Craft_14,3,2,HPRNBILAU16506,Brand_C,Vendor_7,17804,17000-18000
1,220004300001,Craft_41,3,1,RZPFBQLCP93570,Brand_C,Vendor_8,24303,24000-25000
2,220003387001,Craft_99,3,6,SKNHQBQZK69482,Brand_C,Vendor_15,19371,19000-20000
3,220002864001,Craft_69,2,2,KKMIRFLWY06630,Brand_C,Vendor_5,8421,8000-9000
4,220002714001,Craft_47,3,1,FVDSIKTCA44316,Brand_C,Vendor_8,21768,21000-22000
...,...,...,...,...,...,...,...,...,...
10325,220002051002,Craft_106,2,6,QICUUMPJW99906,Brand_C,Vendor_1,10504,10000-11000
10326,220002275002,Craft_96,2,1,LGNSBQJER19565,Brand_C,Vendor_11,14961,14000-15000
10327,220001939002,Craft_98,3,6,WYSRQJLRH15948,Brand_C,Vendor_1,16792,16000-17000
10328,220004524002,Craft_26,3,4,NOEEAEBOP37708,Brand_C,Vendor_4,24605,24000-25000
10329,220003936002,Craft_106,3,2,ZMBWLQMOD72104,Brand_C,Vendor_13,18287,18000-19000